{% extends 'core/base.html' %}

{% block body %}
{% for article in article_list %}

<article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{% autoescape off %}{{ article.content|truncatewords_html:20 }}{% endautoescape %}</p>
    </section>
    <footer class="post-item-footer">
        <ul class="post-item-meta-list">
            <li class="post-item-meta-item">
                <time datetime="{{ article.publish_date }}" itemprop="datePublished" title="{{ article.publish_date }}">
                {{ article.publish_date|timesince }} ago
                </time>
            </li>
            <li class="post-item-meta-item">
                <a href="{{ article.category.get_absolute_url }}">{{ article.category.name }}</a>
            </li>
            <li class="post-item-meta-item">
                <a href="{{ article.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{id}}">0</a>
            </li>
        </ul>
    </footer>
</article>

{% empty %}
<p align="center">No articles published yet. Wait a second, please. :)</p>
{% endfor %}
{% endblock %}
